//variables

$fancyBlue: rgba(72, 180, 205, 0.728);

//nesting
.banner {
    font-family: 'Pacifico', cursive;
    height: 400px;
    border: {
        top: 4px solid black;
        bottom: 4px solid black;
    }
    .helloWorld {
        color: $fancyBlue;
        font-size: 100px;
        text-align: center;
    }
};

//import
@import 'import';

//extend
.extended{
    @extend .banner;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    text-align: center;
}
